@model SchoolManagement.Models.User.Staff

@{
    ViewData["Title"] = "Staff Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "Staff";
}

<div class="card mt-3 mb-4">
    <div class="card-body border border-primary rounded">
        <h6 class="card-header bg-primary text-light mb-3">Staff Details</h6>
        <div class="row g-3">

            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Name</strong>
                <div class="fs-6">@Model.FullName</div>
            </div>

            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Email</strong>
                <div class="fs-6">@Model.Email</div>
            </div>

            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Job Role</strong>
                <div class="fs-6">@Model.JobRole</div>
            </div>


            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">DOB</strong>
                <div class="fs-6">@Model.DOB.ToString("dd-MM-yyyy")</div>
            </div>


            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Experience</strong>
                <div class="fs-6">@Model.Experience</div>
            </div>

            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Date Of Joining</strong>
                <div class="fs-6">@Model.DateOfJoin.ToString("dd-MM-yyyy")</div>
            </div>



            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Aadhaar Number</strong>
                <div class="fs-6">@Model.AadhaarNumber</div>
            </div>

            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Qualification</strong>
                <div class="fs-6">@Model.Qualification</div>
            </div>

            <div class="form-group col-md-4 col-lg-3">
                <strong class="text-muted">Primary Phone</strong>
                <div class="fs-6">@Model.PrimaryPhoneNumber</div>
            </div>

        </div>
    </div>
</div>


