@model SchoolManagement.Models.User.Student
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "Students";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="content">
                <div class="card">
                    <div class="card-body" style="border:1px solid blue">
                        <h6 class="card-header bg-primary text-light mb-2">Personal Info</h6>
                        <hr />
                        <form asp-action="Create" enctype="multipart/form-data" class="needs-validation" novalidate>
                            <div class="row">
                                <input type="hidden" asp-for="UniqueId" />
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="StandardId" class="control-label" style="text-b">Standard </label>
                                    <select asp-for="StandardId" class="form-control" asp-items="ViewBag.StandardId"></select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="FirstName" class="form-label">First Name</label>
                                    <input asp-for="FirstName" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="LastName" class="form-label" autocomplete="off">Last Name</label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="DOB" class="form-label">Date Of Birth</label>
                                    <input asp-for="DOB" class="form-control" type="date" />
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="Gender" class="form-label" >Gender</label>
                                    <select asp-for="Gender" class="form-control">
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="AdmitionDate" class="form-label"> Admission Date</label>
                                    <input asp-for="AdmitionDate" class="form-control" type="date" />
                                    <span asp-validation-for="AdmitionDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="SessionYearId" class="control-label">Session Year </label>
                                    <select asp-for="SessionYearId" class="form-control" asp-items="ViewBag.SessionYearId"></select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="AadhaarNumber" class="form-label"></label>
                                    <input asp-for="AadhaarNumber" class="form-control" placeholder="Enter Aadhaar Number" />
                                    <span asp-validation-for="AadhaarNumber" class="text-danger"></span>
                                </div>
         
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="Aadhar" class="form-label"></label>
                                    <input asp-for="Aadhar" type="file" class="form-control" id="aadharInput" />
                                    <span asp-validation-for="Aadhar" class="text-danger"></span>
                                    <img id="aadharPreview" style="display: none; max-width: 100px; margin-top: 10px;" />
                                </div>  
                                <div class="form-group col-md-4 col-sm-6 col-lg-3">
                                    <label asp-for="Photos" class="form-label"></label>
                                    <input asp-for="Photos" type="file" class="form-control" id="photosInput" />
                                    <span asp-validation-for="Photos" class="text-danger"></span>
                                    <img id="photoPreview" style="display: none; max-width: 100px; margin-top: 10px;" />
                                </div>

                                <br />
                                <div class="card">
                                    <div class="card-header bg-light">Address Details</div>
                                    <div class="card-body row">
                                        <div class="form-group col-sm-12 col-md-6  col-lg-4">
                                            <label asp-for="HomeAddress.CountryId" class="text-bold">  </label><small>  </small>
                                            <select asp-for="HomeAddress.CountryId" asp-items="ViewBag.CountryId" style="height:2em" class="custom-select form-control"></select>
                                            <span asp-validation-for="HomeAddress.CountryId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-12 com-md-6 col-lg-4">
                                            <label asp-for="HomeAddress.StateId" class="control-label"></label><small>  </small>
                                            <select asp-for="HomeAddress.StateId" asp-items="ViewBag.StateId" style="height:2em" onchange="HomeAddress.GetCitiesByStateId($(this).children('option:selected').val())" class="custom-select form-control"> <option id="0"> -- Select State -- </option> </select>
                                            <span asp-validation-for="HomeAddress.StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-12 com-md-6 col-lg-4">
                                            <label asp-for="HomeAddress.CityId" class="control-label"></label><small></small>
                                            <select asp-for="HomeAddress.CityId" asp-items="ViewBag.CityId" style="height:2em" class="custom-select form-control"></select>
                                            <span asp-validation-for="HomeAddress.CityId" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                                            <label class="control-label" asp-for="HomeAddress.AddressLine1"></label>
                                            <input asp-for="HomeAddress.AddressLine1" class="form-control" placeholder="HomeAddress Line 1" />
                                            <span asp-validation-for="HomeAddress.AddressLine1" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                                            <label class="control-label" asp-for="HomeAddress.AddressLine2"></label>
                                            <input asp-for="HomeAddress.AddressLine2" class="form-control" placeholder="HomeAddress Line 2" />
                                            <span asp-validation-for="HomeAddress.AddressLine2" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                                            <label class="control-label" asp-for="HomeAddress.AddressLine3"></label>
                                            <input asp-for="HomeAddress.AddressLine3" class="form-control" placeholder="HomeAddress Line 3" />
                                            <span asp-validation-for="HomeAddress.AddressLine3" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                                            <label class="control-label" asp-for="HomeAddress.NearestLandMark"></label>
                                            <input asp-for="HomeAddress.NearestLandMark" class="form-control" placeholder="Nearest Land Mark" />
                                            <span asp-validation-for="HomeAddress.NearestLandMark" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                                            <label class="control-label" asp-for="HomeAddress.PinCode"></label>
                                            <input asp-for="HomeAddress.PinCode" class="form-control" placeholder="Pin Code" />
                                            <span asp-validation-for="HomeAddress.PinCode" class="text-danger"></span>
                                        </div>

                              </div>
                            </div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="submit" value="Save" style="margin-left:400px;border:1px solid black;margin-top:3px;" class="btn btn-primary" />
                            </div>
                        </form>
                        <div class="content">
                            <div class="card">
                                <div class="card-body">
                        @if (Model.ParentOrGuardians != null)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="card shadow-lg border-0 mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white">
                                            <h5 class="mb-0">Parents Details</h5>
                                            <a href="/Staff/Students/AddParents?studentId=@Model.UniqueId" class="btn btn-light text-primary fw-bold">
                                                ➕ Add Parent
                                            </a>
                                        </div>
                                        <div class="card-body p-4" style="border-top: 4px solid #0d6efd;">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered align-middle">
                                                    <thead class="table-primary text-center">
                                                        <tr>
                                                            <th>Relation</th>
                                                            <th>Name</th>
                                                            <th>DOB</th>
                                                            <th>Primary Phone Number</th>
                                                            <th>CTC</th>
                                                            <th>Occupation</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var p in Model.ParentOrGuardians)
                                                        {
                                                            <tr>
                                                                <td>@p.Relation.RelationName</td>
                                                                <td>@p.FullName</td>
                                                                <td>@p.DOB.ToShortDateString() <br /><small class="text-muted">Age: @p.Age</small></td>
                                                                <td>@p.PrimaryPhoneNumber</td>
                                                                <td>@p.CTC</td>
                                                                <td>@p.Occupation</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
                
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/appjs/address.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var aadharInput = document.getElementById('aadharInput');
            var photosInput = document.getElementById('photosInput');
            var aadharPreview = document.getElementById('aadharPreview');
            var photoPreview = document.getElementById('photoPreview');

            function handleFileSelect(input, preview) {
                input.addEventListener('change', function () {
                    var file = input.files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            preview.src = e.target.result;
                            preview.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    } else {
                        preview.style.display = 'none';
                    }
                });
            }

            handleFileSelect(aadharInput, aadharPreview);
            handleFileSelect(photosInput, photoPreview);
        });

    </script>
}