@using Newtonsoft.Json
@inject SignInManager<AppUser> signInManager;
@{
    var ActiveTabId = 0;
    var ActiveClass = String.Empty;
    if (ViewBag.ActiveTabId == null) { ActiveTabId = 1; }
    else { ActiveTabId = ViewBag.ActiveTabId; }

    // -- New active tab
    string activeTab = string.Empty;
    string ActiveTabName = "something...";
    if (!string.IsNullOrEmpty(ViewBag.activeTabName))
    {
        ActiveTabName = ViewBag.ActiveTabName;
    }
    var selectedSession = JsonConvert.DeserializeObject<SessionYear>((string)TempData.Peek("SelectedSession"));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Mother Care School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/AdminTemp/dist/bootstrap/css/bootstrap.min.css">
    <link href="~/AdminTemp/dist/plugins/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/AdminTemp/dist/img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminTemp/dist/css/style.css">
    <link rel="stylesheet" href="~/AdminTemp/dist/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminTemp/dist/css/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/AdminTemp/dist/css/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/AdminTemp/dist/css/simple-lineicon/simple-line-icons.css">
    @RenderSection("Style", required: false)
</head>

<body class="skin-blue sidebar-mini">
    <div class="wrapper boxed-wrapper">
        <header class="main-header">
            <a href="index.html" class="logo blue-bg">
                <span class="logo-mini"><img src="~/AdminTemp/dist/img/logo-n.png" alt=""></span>
                <span class="logo-lg"><img src="~/AdminTemp/dist/img/logo.png" alt=""></span>
            </a>
            <nav class="navbar blue-bg navbar-static-top">
                <ul class="nav navbar-nav pull-left">
                    <li><a class="sidebar-toggle" data-toggle="push-menu" href=""></a></li>
                </ul>
                <div class="pull-left search-box">
                    <form action="#" method="get" class="search-form">
                        <div class="input-group">
                            <input name="search" class="form-control" placeholder="" type="text">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                            </span>
                        </div>
                    </form>
                </div>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {

                            <li class="dropdown user user-menu p-ph-res">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/AdminTemp/dist/img/img1.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@User.Identity.Name</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <div class="pull-left user-img"><img src="~/AdminTemp/dist/img/img1.jpg" class="img-responsive img-circle" alt="User"></div>
                                        <p class="text-left">  <small> @User.Identity.Name</small> </p>
                                        <p class="text-left">  <small> @selectedSession.SessionName </small> </p>
                                    </li>

                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </li>

                        }
                    </ul>
                </div> <div class="text-white align-content-center" style="padding-top:1.5em;padding-left:15em">
                    @selectedSession.SessionName
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">

            <div class="sidebar">
                <div class="user-panel">
                    <div class="image text-center"><img src="~/AdminTemp/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
                    <div class="info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

             
                <ul class="sidebar-menu" data-widget="tree">

                    @if (ActiveTabName.Equals("SessionYear")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Admin/SessionYears/Index">
                            <i class="fa fa-calendar"></i> Session Year
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("FeeTypes")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Admin/FeeTypes/Index">
                            <i class="fa fa-money"></i> Fee Types
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("Standard")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Admin/Standards/Index">
                            <i class="fa fa-book"></i> Standard
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("StandardFees")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Admin/StandardFees/Index">
                            <i class="fa fa-money"></i> Standard Fees
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("Students")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Admin/Students/Index">
                            <i class="fa fa-user"></i> Students
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("Staff")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Admin/Staff/Index">
                            <i c<i class=" fa fa-users"></i>Staff
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("ChangeEmail")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Account/ChangeEmail">
                            <i class="fa fa-envelope"></i> Change Email
                        </a>
                    </li>

                    @if (ActiveTabName.Equals("ChangePassword")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab">
                        <a href="/Account/ChangePassword">
                            <i class="fa fa-key"></i> Change Password
                        </a>
                    </li>

                    <li>
                        <a href="/Account/LogOut">
                            <i class="fa fa-power-off"></i> Logout
                        </a>
                    </li>

                </ul>

            </div>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">Version 1.0</div>
            Copyright © 2018 Yourdomian. All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
   @*  <link rel="stylesheet" href="~/AdminTemp/dist/css/font-awesome/css/font-awesome.min.css"> *@

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminTemp/dist/js/jquery.min.js"></script>

    <!-- v4.0.0-alpha.6 -->
    <script src="~/AdminTemp/dist/bootstrap/js/bootstrap.min.js"></script>

    <!-- template -->
    <script src="~/AdminTemp/dist/js/adminkit.js"></script>

    <!-- Morris JavaScript -->
    <script src="~/AdminTemp/dist/plugins/raphael/raphael-min.js"></script>
    <script src="~/AdminTemp/dist/plugins/morris/morris.js"></script>
    @*<script src="~/AdminTemp/dist/plugins/functions/dashboard1.js"></script>*@


    <!-- Chart Peity JavaScript -->
    <script src="~/AdminTemp/dist/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/AdminTemp/dist/plugins/functions/jquery.peity.init.js"></script>
    <script src="~/AppJs/Admin.js"></script>
    <script src="~/AdminTemp/dist/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/AdminTemp/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>


