@model IEnumerable<SchoolManagement.Models.Standard>

@{
    ViewData["Title"] = "Standards";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "Standard";
}

@section Style {
    <link href="~/uitemplate/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
}

<div class="content px-3">
    <div class="card shadow rounded-4">
        <div class="card-header   text-black d-flex justify-content-between align-items-center rounded-top-4">
            <h4 class="mb-0" style="lighting-color:lightblue"> Standards List</h4>
            <a asp-action="Create" class="btn btn-light btn-sm shadow-sm">
                <i class="fa fa-plus me-1"></i> Add Standard
            </a>
        </div>
        <br />
        

        <div class="card-body">
            <table class="table table-bordered table-striped" id="tblStandards">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StandardName)</th>
                
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.StandardName)</td>
                        
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UniqueId" ><i class="fa fa-edit"></i></a>
                                <a asp-action="Details" asp-route-id="@item.UniqueId"><i class="fa fa-eye"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.UniqueId"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/admintemp/dist/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admintemp/dist/plugins/datatables/datatables.bootstrap.min.js"></script>
    <script>
        function ReloadIndex() {
            let sessionYearId = $('#SessionYearDDL').val();
            window.location.href = '/SuperAdmin/Standard/index/' + sessionYearId;
        }

        $(document).ready(function () {
            $('#tblStandards').DataTable({
                "pageLength": 10,
                "ordering": true,
                "searching": true
            });
        });
    </script>
}
