@model IEnumerable<SchoolManagement.Models.Standard>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StandardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeAmountPerMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingCycle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StandardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeeAmountPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCycle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UniqueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniqueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
