@model IEnumerable<SchoolManagement.Models.Standard>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/uitemplate/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />

<h1>Index</h1>

<div class="content">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-striped" id="tblGuestLists">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StandardName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeeAmountPerMonth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillingCycle)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StandardName</td>
                            <td>@item.FeeAmountPerMonth</td>
                            <td>@item.BillingCycle</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UniqueId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.UniqueId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DataTable Scripts -->
    <script src="~/admintemp/dist/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admintemp/dist/plugins/datatables/datatables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblGuestLists').DataTable({
                "pageLength": 10,
                "ordering": true,
                "searching": true
            });
        });
    </script>
}
