@model IEnumerable<SchoolManagement.Models.Fee.StandardFee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "standardFee";

}


<div class="card">
<div class="card-body">
<p>
    <a asp-action="Create">Create New</a>
</p>
        <table class="table table-bordered table-striped" >
            <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Standard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Standard.StandardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeeType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                            <a asp-action="Create" asp-route-id="@item.UniqueId">
                                                              <i class="fa fa-edit"></i> |
                            </a> |
                            <a asp-action="Details" asp-route-id="@item.UniqueId">
                                                                 <i class="fa fa-eye"></i>|
                            </a> |
                            <a asp-action="Delete" asp-route-id="@item.UniqueId">
                                                               <i class="fa fa-trash text-danger"></i>
                            </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
 