@using SchoolManagement.Models.User
 @model SchoolManagement.Models.User.ParentOrGuardians
@{
    ViewData["Title"] = "AddParents";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "Students";
    List<ParentOrGuardians> stuParents = ViewBag.stuParents;
    List<Relation> relationMaster = ViewBag.RelationId;
}
@{
    Html.RenderPartial("_ParentsPartial", stuParents);
}

<form asp-action="AddParents" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="card" style="margin-left:5px;margin-right:5px;">
        <div class="card-header bg-light">Parent Details</div>
        <div class="card-body row">
            <input type="hidden" asp-for="StudentUniqueId" />
            <div class="form-group form-group col-md-4 col-sm-6 col-lg-3  ">

                <label asp-for="@Model.FirstName" class="form-label"> First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-md-4 col-sm-6 col-lg-3 ">
                <label asp-for="@Model.LastName" class="form-label"> Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class=" form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="RelationId" class="control-label">Relation With Student </label>
                <select asp-for="RelationId" class="form-control">
                    @foreach (var r in relationMaster)
                    {
                        if (!r.AllowMultiple && stuParents.Any(p => p.RelationId == r.UniqueId))
                        {
                            <option disabled style="color:lightgrey" value="@r.UniqueId"> @r.RelationName </option>
                        }
                        else
                        {
                            <option value="@r.UniqueId"> @r.RelationName </option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="@Model.DOB" class="form-label">Date Of Birth</label>
                <input asp-for="@Model.DOB" class="form-control" type="date" />
                <span asp-validation-for="@Model.DOB" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-md-4 col-sm-6 col-lg-3 ">
                <label asp-for="@Model.PrimaryPhoneNumber" class="form-label">Primary Contact</label>
                <input asp-for="@Model.PrimaryPhoneNumber" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.PrimaryPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="@Model.SecondryPhoneNumber" class="form-label">Secondary  Contact </label>
                <input asp-for="@Model.SecondryPhoneNumber" class="form-control" autocomplete="off" />

            </div>
            <div class=" form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="@Model.Occupation" class="form-label"> Occupation </label>
                <input asp-for="@Model.Occupation" class="form-control" autocomplete="off" />

            </div>
            <div class="form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="@Model.CTC" class="form-label">CTC</label>
                <input asp-for="@Model.CTC" class="form-control" />

            </div>
            <div class="form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="AadhaarNumber" class="form-label"></label>
                <input asp-for="AadhaarNumber" class="form-control" placeholder="Enter Aadhaar Number" />
                <span asp-validation-for="AadhaarNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="Aadhar" class="form-label"></label>
                <input asp-for="Aadhar" type="file" class="form-control" id="aadharInput" />
                <span asp-validation-for="Aadhar" class="text-danger"></span>
                <img id="aadharPreview" style="display: none; max-width: 100px; margin-top: 10px;" />
            </div>
            <div class="form-group col-md-4 col-sm-6 col-lg-3">
                <label asp-for="Photos" class="form-label"></label>
                <input asp-for="Photos" type="file" class="form-control" id="photosInput" />
                <span asp-validation-for="Photos" class="text-danger"></span>
                <img id="photoPreview" style="display: none; max-width: 100px; margin-top: 10px;" />
            </div>

            <div class="form-check form-group col-md-4 col-sm-6 col-lg-3">
                <br />  <input asp-for="AddressSameAsStudent" type="checkbox" onclick="Address.LoadAddressPartial(this,0)" class="form-check-input" type="checkbox" class="form-control" />
                <label class="form-check-label" asp-for="AddressSameAsStudent">
                    Same  Address As Student
                </label>
            </div>
            <div id="_addressPartial">
                @*             @{
                Html.RenderPartial("_addressPartial", Model.HomeAddress);
            }
 *@
            </div>
        </div>
        <div class="form-group col-12 text-center"> 
            <button class="btn btn-primery" type="submit"> Save </button>
        </div>
    </div>
</form>

@section Scripts {

    <script src="~/appjs/address.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var aadharInput = document.getElementById('aadharInput');

            var aadharPreview = document.getElementById('aadharPreview');

            var photosInput = document.getElementById('photosInput');
               var photoPreview = document.getElementById('photoPreview');

            function handleFileSelect(input, preview) {
                input.addEventListener('change', function () {
                    var file = input.files[0];
                    if (file) {
                        var reader = new FileReader();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            preview.src = e.target.result;
                            preview.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    } else {
                        preview.style.display = 'none';
                    }
                });
            }

            handleFileSelect(aadharInput, aadharPreview);
            handleFileSelect(photosInput, photoPreview);
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    }
