@model SchoolManagement.Models.SessionYear

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "SessionYear";
    List<SchoolManagement.ProcModels.SessionDetailsDto> Standards = ViewBag.Standards;
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <h1></h1>

            <div>
                <h4>
                    Session Year Details | @Model.SessionName
                </h4>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="text-bold">  Session Name</label>
                        <p> @Model.SessionName</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="text-bold"> Start Date</label>
                        <p> @Model.StartDate.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="text-bold">End Date</label>
                        <p> @Model.EndDate.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="text-bold"> Is Acitve </label>
                        <p> @Model.IsAcitve</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Standards</div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Class Name </th>
                                <th>Fee Amount</th>
                                <th>Billing Cycle </th>
                                <th>Students </th>
                                <th>View Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var standard in Standards)
                            {
                                <tr>
                                    <td>@standard.StandardName</td>
                                    <td>@standard.FeeAmountPerMonth</td>
                                    <td>@standard.BillingCycle - Month</td>
                                    <td> <a href="/Admin/Students/index/@standard.StandardId">@standard.StudentCount </a> </td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Standards" asp-route-id="@standard.StandardId">@standard.StandardName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.UniqueId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
